<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   BBLTest

   Created by Suriya on 1/8/2565 BE.
   Copyright (c) 2565 BE ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
        <key>ClientId</key>
        <string>82P2B1YcY7KlQkCPJ4mMnmBTPyI2pLTd</string>
        <key>Domain</key>
        <string>https://dev-yg.us.auth0.com</string>
</dict>
</plist>
